<h1> 模式匹配实现红黑树 </h1>
<hr>
<p>红黑树作为一个高效的平衡二叉树实现，查找、插入和删除操作有着<strong><em>O(log n)</em></strong>的时间复杂度。然而作为一个学习样例，实现起来却十分繁琐，一想到那些繁复的指针操作，我就开始打退堂鼓。为了提供一个对红黑树的蓝图式理解，区别于之前比较出名的红黑树讲解文章，<a href="https://github.com/julycoding/The-Art-Of-Programming-By-July/blob/master/ebook/zh/03.01.md" target="_blank" rel="external">教你透彻了解红黑树（by July）</a>，本文借助模式匹配的强大功能，用更加清晰的思路实现红黑树。</p>
<p>不了解模式匹配也没有关系，以为它很容易被人理解。更多关于模式匹配的文章有</p>
<ul>
<li><a href="http://www.yinwang.org/blog-cn/2012/08/01/interpreter" target="_blank" rel="external">怎样写一个解释器</a> 的“模式匹配”部分</li>
<li><a href="https://ocaml.org/learn/tutorials/data_types_and_matching.zh.html#_3" target="_blank" rel="external">数据类型和匹配（<code>OCaml</code>教程）</a></li>
</ul>
<p>本文用<code>OCaml</code>语言书写代码，不了解<code>OCaml</code>也没有关系，因为它的语法足够简单。可以使用 <a href="https://try.ocamlpro.com/" target="_blank" rel="external">try OCaml</a> 熟悉一下<code>OCaml</code>的基本语法，同时可以将下面的代码在其上运行。</p>
<p>按照惯例，从二叉搜索树的构建开始说起，</p>
<h2 id="二叉搜索树（非平衡）"><a href="#二叉搜索树（非平衡）" class="headerlink" title="二叉搜索树（非平衡）"></a>二叉搜索树（非平衡）</h2><p>二叉树是一个递归结构，一棵树可以被定义为两种类型，1)非叶子节点<code>TNode</code>包含一个値和左右子树，2)叶子节点不包含任何値（在我们实现的二叉树版本中，叶子节点不存储値，相当于<code>null</code>节点）。用BNF范式表示会更加清晰，</p>
<pre><code>&lt;tree&gt; ::= TNode value &lt;tree&gt; &lt;tree&gt;
          | TLeaf
</code></pre><p>当<code>&#39;a</code>为<code>int</code>类型时，这样一棵二叉树</p>
<pre>          ^                   5
          |               /        \
          |           3              20
          |         /   \           /  \
          |     TLeaf  TLeaf       10   TLeaf
          |                       /  \
          V                   TLeaf  11
                                    /  \
                                TLeaf  TLeaf
</pre>

<p>用递归下降的方式表示为，</p>
<pre>
TNode 5 
      TNode 3 TLeaf TLeaf
      TNode 20
            TNode 10
                  TLeaf
                  TNode 11 TLeaf
            TLeaf
</pre>

<p>用<code>OCaml</code>可以轻松实现上边的<code>tree</code>类型，</p>
<figure class="highlight ocaml"><table><tr><td class="code"><pre><div class="line"><span class="keyword">type</span> <span class="symbol">'a</span> tree = <span class="type">TNode</span> <span class="keyword">of</span> <span class="symbol">'a</span> * <span class="symbol">'a</span> tree * <span class="symbol">'a</span> tree </div><div class="line">               | <span class="type">TLeaf</span></div></pre></td></tr></table></figure>
<p>（其中</p>
<ul>
<li><code>&#39;a</code>用来实现泛型，这样允许我们构造int二叉树或者string二叉树等等各种类型的二叉树。</li>
<li><code>*</code>代表将<code>&#39;a</code>,<code>&#39;a tree</code>,<code>&#39;a tree</code>三者连接成为一个tuple）。</li>
</ul>
<p>二叉搜索树的特性是</p>
<pre><code>某节点的値总是大于左子树中的値，并且总是小于右子树中的値。
</code></pre><p>这样我们在二叉树中查找某一个元素时，如果当前节点的値等于要找的値，查找结束。不然，就递归查找左子树（如果小于此节点的値）或者右子树（如果大于此节点的値）。一旦查询到<code>TLeaf</code>节点则查询失败。用递归函数定义查询过程，以下的代码足够清晰和简洁，</p>
<figure class="highlight ocaml"><table><tr><td class="code"><pre><div class="line"><span class="keyword">let</span> <span class="keyword">rec</span> contains x bt =</div><div class="line">  <span class="keyword">match</span> bt <span class="keyword">with</span></div><div class="line">      <span class="type">TLeaf</span> -&gt; <span class="literal">false</span></div><div class="line">    | <span class="type">TNode</span> (y, l, r) -&gt;</div><div class="line">        x = y || (x &lt; y &amp;&amp; contains x l) || contains x r</div></pre></td></tr></table></figure>
<p>向二叉树中添加元素与上边的查找过程十分类似，插入新的元素并不会对原来的树结构造成破坏。</p>
<figure class="highlight ocaml"><table><tr><td class="code"><pre><div class="line"><span class="keyword">let</span> <span class="keyword">rec</span> add x bt =</div><div class="line">  <span class="keyword">match</span> bt <span class="keyword">with</span></div><div class="line">      <span class="type">TLeaf</span> -&gt; <span class="type">TNode</span> (x, <span class="type">TLeaf</span>, <span class="type">TLeaf</span>)  <span class="comment">(* If at a leaf, put new node there 这是注释*)</span></div><div class="line">    | <span class="type">TNode</span> (y, l, r) -&gt;          <span class="comment">(* Recursively search for value 这是注释 *)</span></div><div class="line">        <span class="keyword">if</span> x = y <span class="keyword">then</span> bt</div><div class="line">        <span class="keyword">else</span> <span class="keyword">if</span> x &gt; y <span class="keyword">then</span> <span class="type">TNode</span> (y, l, add x r)</div><div class="line">        <span class="keyword">else</span> <span class="comment">(* x &lt; y *)</span> <span class="type">TNode</span> (y, add x l, r)</div></pre></td></tr></table></figure>
<p>对以上几个过程进行小小的测试：<br><img src="/2016/red-black-tree-using-pattern-matching/../../images/btree.JPG" alt="二叉树样例"></p>
<p>在插入过程中如果二叉树接近于平衡的话，查找操作的时间复杂度是维持在<strong><em>O(log n)</em></strong>，其中<em>n</em>为所有元素的个数。然而在极端的情况下，树的深度将会接近于<em>n</em>，使二叉树的形状很竖直而使查找操作的时间复杂度上升为<strong><em>O(n)</em></strong>。</p>
<p>如果一棵树可以维持平衡的特性，树的高度将维持在<strong><em>O(log n)</em></strong>，那么查找操作的时间复杂度也会渐进为<strong><em>O(log n)</em></strong>。红黑树就是一种在平凡二叉树的基础上加入更强的平衡特性的数据结构。</p>
<h2 id="红黑树（平衡）"><a href="#红黑树（平衡）" class="headerlink" title="红黑树（平衡）"></a>红黑树（平衡）</h2><p>我们在二叉树的基础上，标记树中的节点要么为红色要么为黑色。定义如下，</p>
<figure class="highlight ocaml"><table><tr><td class="code"><pre><div class="line"><span class="keyword">type</span> color = <span class="type">Red</span> | <span class="type">Black</span></div><div class="line"><span class="keyword">type</span> <span class="symbol">'a</span> rbtree =</div><div class="line">  	<span class="type">Node</span> <span class="keyword">of</span> color * <span class="symbol">'a</span> * <span class="symbol">'a</span> rbtree * <span class="symbol">'a</span> rbtree</div><div class="line">  | <span class="type">Leaf</span></div></pre></td></tr></table></figure>
<p>并且在二叉树特性的基础上，再加入如下的特性</p>
<pre><code>1 任何一个路径上不允许有两个相邻的红色节点。
2 从根节点到叶子节点的每条路径上有相同数目的黑色节点。
</code></pre><p>因为红黑树也是递归定义的，所以如果一棵树满足以上两个条件，那么它的所有子树也同样满足。如果一棵二叉树的任一子树违反以上的任一条件，则它必定不是一棵红黑树。</p>
<p>通过以上的特性规定，从根节点到任意的叶子节点可能的最长路径上必定是红黑节点交替出现，所以是可能的最短路径（只有黑色节点）的两倍长。以此保证红黑树的高度为<strong><em>O(log n)</em></strong>。</p>
<p>在红黑树中查找元素，其过程与在二叉树中查找一样，</p>
<figure class="highlight ocaml"><table><tr><td class="code"><pre><div class="line"><span class="keyword">let</span> <span class="keyword">rec</span> mem x rbt =</div><div class="line">  <span class="keyword">match</span> rbt <span class="keyword">with</span></div><div class="line">      <span class="type">Leaf</span> -&gt; <span class="literal">false</span></div><div class="line">    | <span class="type">Node</span> (_, y, left, right) -&gt;               <span class="comment">(* rbt is equivalent to (_, y, left, right) *)</span></div><div class="line">        x = y || (x &lt; y &amp;&amp; mem x left) || (x &gt; y &amp;&amp; mem x right)</div></pre></td></tr></table></figure>
<p>终于到了最关键的地方，如何向红黑树中插入新元素呢。可以将插入操作分成两步，1)与非平衡二叉树插入类似，将新元素插入并将其标记为红色；2)将插入元素标记为红色有可能会违反红黑树的<strong>特性2</strong>，所以需要重新调整红黑树。</p>
<p>为了调整到符合红黑树的特性，不仅要考虑插入节点的红色父节点，还要考虑插入节点的黑色祖父节点，综合起来共有以下4种可能的情形，如下图</p>
<pre>       <strong><u>1</u>             <u>2</u>             <u>3</u>             <u>4</u></strong>

       B<sub>z</sub>            B<sub>z</sub>            B<sub>x</sub>            B<sub>x</sub>
      / \           / \           / \           / \
     <font color="red">R<sub>y</sub></font>  d         <font color="red">R<sub>x</sub></font>  d         a   <font color="red">R<sub>z</sub></font>        a   <font color="red">R<sub>y</sub></font>
    /  \          / \               /  \          /  \
  <font color="red">R<sub>x</sub></font>   c         a   <font color="red">R<sub>y</sub>            R<sub>y</sub></font>   d        b    <font color="red">R<sub>z</sub></font>
 /  \               /  \          / \                /  \
a    b             b    c        b   c              c    d
</pre>

<p>因为1图中的 <font color="red">R<sub>x</sub></font>，2图中的 <font color="red">R<sub>y</sub></font>，3图中的 <font color="red">R<sub>y</sub></font>，以及4图中的 <font color="red">R<sub>z</sub></font>，均是依照大小关系新插入的节点，与原来树中的节点组成的新的树同样符合二叉树的大小关系。所有4种情形均满足<code>a &lt; x &lt; b &lt; y &lt; c &lt; z &lt; d</code>。那么以上的4种情形已经包括了所有的可能情形，并且都可以转化为以下的结构。红黑树的黑高度在应用<code>balance</code>前后并不发生改变。</p>
<pre>     <font color="red">R<sub>y</sub></font>
    /  \
  B<sub>x</sub>    B<sub>z</sub>
 / \   / \
a   b c   d
</pre>

<p>用模式匹配可以很容易并且清晰地表达我们想要的转换。</p>
<figure class="highlight ocaml"><table><tr><td class="code"><pre><div class="line"><span class="keyword">let</span> balance rbt =</div><div class="line">  <span class="keyword">match</span> rbt <span class="keyword">with</span></div><div class="line">      <span class="type">Black</span>, z, <span class="type">Node</span> (<span class="type">Red</span>, y, <span class="type">Node</span> (<span class="type">Red</span>, x, a, b), c), d</div><div class="line">    | <span class="type">Black</span>, z, <span class="type">Node</span> (<span class="type">Red</span>, x, a, <span class="type">Node</span> (<span class="type">Red</span>, y, b, c)), d</div><div class="line">    | <span class="type">Black</span>, x, a, <span class="type">Node</span> (<span class="type">Red</span>, z, <span class="type">Node</span> (<span class="type">Red</span>, y, b, c), d)</div><div class="line">    | <span class="type">Black</span>, x, a, <span class="type">Node</span> (<span class="type">Red</span>, y, b, <span class="type">Node</span> (<span class="type">Red</span>, z, c, d)) -&gt;</div><div class="line">        <span class="type">Node</span> (<span class="type">Red</span>, y, <span class="type">Node</span> (<span class="type">Black</span>, x, a, b), <span class="type">Node</span> (<span class="type">Black</span>, z, c, d))</div><div class="line">    | a, b, c, d -&gt; <span class="type">Node</span> (a, b, c, d)   <span class="comment">(* if not in above 4 cases, donnot need do balance. *)</span></div></pre></td></tr></table></figure>
<p>到此，就能看到模式匹配的强大之处了。</p>
<p>这种调整可能会将连续2个红色节点的结果传递到红黑树的上一层（相对于插入新元素的位置），以下是完整的插入操作的定义，它将<code>balance</code>持续地应用到插入位置的上一层，最坏情况是到达红黑树的根节点并将根节点标记为红色，<code>insert</code>过程总是将根节点标记为黑色，使树的黑高度增加1。</p>
<figure class="highlight ocaml"><table><tr><td class="code"><pre><div class="line"><span class="keyword">let</span> insert x rbt =</div><div class="line">  <span class="keyword">let</span> <span class="keyword">rec</span> ins s =  <span class="comment">(* 内部定义递归过程ins *)</span></div><div class="line">    <span class="keyword">match</span> s <span class="keyword">with</span></div><div class="line">      <span class="type">Leaf</span> -&gt; <span class="type">Node</span> (<span class="type">Red</span>, x, <span class="type">Leaf</span>, <span class="type">Leaf</span>)</div><div class="line">    | <span class="type">Node</span> (color, y, a, b) -&gt;</div><div class="line">        <span class="keyword">if</span> x &lt; y <span class="keyword">then</span> balance (color, y, ins a, b)</div><div class="line">        <span class="keyword">else</span> <span class="keyword">if</span> x &gt; y <span class="keyword">then</span> balance (color, y, a, ins b)</div><div class="line">        <span class="keyword">else</span> s <span class="keyword">in</span></div><div class="line">  <span class="keyword">match</span> ins rbt <span class="keyword">with</span>  <span class="comment">(* 调用ins过程并匹配返回结果，返回结果为根节点 *)</span></div><div class="line">    <span class="type">Node</span> (_, y, a, b) -&gt;</div><div class="line">      <span class="type">Node</span> (<span class="type">Black</span>, y, a, b)  <span class="comment">(* 始终标记根节点为黑色 *)</span></div><div class="line">    | <span class="type">Leaf</span> -&gt; <span class="comment">(* guaranteed to be nonempty *)</span></div><div class="line">        failwith <span class="string">"RBT insert failed with ins returning leaf"</span></div></pre></td></tr></table></figure>
<h2 id="参考文章"><a href="#参考文章" class="headerlink" title="参考文章"></a>参考文章</h2><ol>
<li><a href="http://www.cs.cornell.edu/Courses/cs3110/2015sp/recitations/11/rec11.html" target="_blank" rel="external">Recitation 10: Red-Black Trees</a></li>
<li><a href="https://ocaml.org/learn/tutorials/data_types_and_matching.zh.html" target="_blank" rel="external">数据类型和匹配</a></li>
<li><a href="https://github.com/julycoding/The-Art-Of-Programming-By-July/blob/master/ebook/zh/03.01.md" target="_blank" rel="external">教你透彻了解红黑树（by July）</a></li>
<li><a href="http://www.yinwang.org/blog-cn/2012/08/01/interpreter" target="_blank" rel="external">怎样写一个解释器</a></li>
<li><a href="https://try.ocamlpro.com/" target="_blank" rel="external">Try OCaml</a></li>
</ol>