
        <h3 id="angular%E4%BD%BF%E7%94%A8promise">Angular使用Promise</h3>
        <p><time>2018/2/14</time></p>
        <p>同步请求数据期间浏览器会“不响应”直至数据到达，所以新版本angular2中的Http实现则是强制异步。异步也是必要的，尤其是在客户端（javascript是单线程），想象一下用户请求一份远程数据，过了2秒才到，如果在同步的情况下，浏览器无法响应持续2秒钟，然后才进行下一步的渲染工作，破坏用户体验。</p>
        <p>Angular强制其Http库异步处理，虽然可以防止开发者误用同步来获取远程数据或者做耗时操作，但是对于刚接触Angular的就不那么友好了。如果不是很了解Http的强制异步处理模式，很容易写出以下代码</p>
        <pre class="hljs"><code><div><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">DataServie</span> </span>{
            result = <span class="hljs-string">'default'</span>;
            <span class="hljs-keyword">constructor</span>(private http: Http){}
            getResult(){
                <span class="hljs-keyword">this</span>.http.get(<span class="hljs-string">'http://google.com.hk'</span>)
                    .map(response =&gt; response.text())
                    .subscribe(data =&gt; {
                        <span class="hljs-keyword">this</span>.result = data;
                        <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'inside of callback（后执行)'</span>);
                    });
                <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'outside of callback (先执行)'</span>);
            }
            
            doSomething() {
                <span class="hljs-built_in">console</span>.log(<span class="hljs-string">"do something to data: "</span>+ <span class="hljs-keyword">this</span>.result);
            }
        
            doThis(){
                getResult();  <span class="hljs-comment">// 异步</span>
                doSomething();  <span class="hljs-comment">//读取 this.result </span>
                                <span class="hljs-comment">// 发现依然是旧值。。。what？</span>
            }
        }
        </div></code></pre>
        <p>上述代码表面上是同步的，即一行代码执行完所有操作再执行下一行，然而Http的<code>get</code>函数却是异步的。
        代码的输出结果违背直觉，在使用this.result时也会出现无法获取新值的窘境。这个坑，作为JS新手的我，反正踩了。</p>
        <p>那么本文提供了：</p>
        <ul>
        <li>什么是异步</li>
        <li>什么是callback</li>
        <li>传统方法：用callback实现异步处理</li>
        <li>Angular的推荐方法：用Promise实现异步处理</li>
        </ul>
        <h2 id="so%EF%BC%8C%E9%A6%96%E5%85%88%E7%AE%80%E5%8D%95%E4%BB%8B%E7%BB%8D%E4%B8%80%E4%B8%8Bjs">So，首先简单介绍一下JS</h2>
        <p>JavaScript是这样介绍自己的：</p>
        <blockquote>
        <p>JavaScript is a single-threaded, non-blocking, asynchronous, concurrent language.</p>
        </blockquote>
        <h2 id="%E5%87%BD%E6%95%B0%E8%B0%83%E7%94%A8%E6%A0%88">函数调用栈</h2>
        <p>类似Java等通用语言的单线程代码。</p>
        <pre class="hljs"><code><div><span class="hljs-keyword">var</span> makeCookies = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{ 
            <span class="hljs-comment">// make them</span>
        }
        <span class="hljs-keyword">var</span> sellCookies = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
            makeCookies();
        }
        <span class="hljs-keyword">var</span> myStoreOperation = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
            sellCookies();
        }
        
        </div></code></pre>
        <p>调用栈</p>
        <pre class="hljs"><code><div>myStroreOperation <span class="hljs-comment">//先执行</span>
        sellCookies
        makeCookies
        </div></code></pre>
        <p>这就是浏览器执行的单线程代码，如果中间任何一个步骤耗时太长，后续代码将被阻塞，导致页面卡顿。
        像<code>console.log()</code>或者复杂度不高的数值计算加入到调用栈中不会对整体单线程执行速度造成影响。但是如果将不可预期的远程（http等）数据请求等耗时操作加入到单线程调用栈里，页面卡住了会严重破坏用户体验。</p>
        <h2 id="callbacks%E5%90%8C%E6%AD%A5%E7%89%88%E6%9C%AC">Callbacks(同步版本)</h2>
        <p>函数f作为参数传入另外一个函数g，函数f就称为回调函数。</p>
        <p>写一个函数返回原数的2倍。</p>
        <pre class="hljs"><code><div><span class="hljs-keyword">var</span> takeActionToNumber = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">n, action</span>) </span>{
            <span class="hljs-keyword">return</span> action(n);
        }
        <span class="hljs-keyword">var</span> doubleIt = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">num</span>)</span>{
            <span class="hljs-keyword">return</span> num *<span class="hljs-number">2</span>;
        }
        
        takeActionToNumber(<span class="hljs-number">3</span>, doubleIt); <span class="hljs-comment">// 结果为6. </span>
                                          <span class="hljs-comment">//doubleIt作为一个回调函数</span>
        </div></code></pre>
        <p><code>takeActionToNumber</code>里不包含异步代码。</p>
        <h2 id="callbacks%E5%BC%82%E6%AD%A5%E7%89%88%E6%9C%AC">Callbacks(异步版本)</h2>
        <p>而存在异步代码的<code>setTimeout</code></p>
        <pre class="hljs"><code><div>setTimeout(() =&gt; <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'5秒钟过去了，我才执行:('</span>),
                    <span class="hljs-number">5000</span>);
        <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'我先进入调用栈，我先执行'</span>);
        </div></code></pre>
        <p>发生了什么？</p>
        <p><img src="file:///Users/mhy/Documents/vimoo/writenotes/assets/image/js-callstack.png" alt=""></p>
        <p>哪个函数代码先后执行取决于进入调用栈的顺序，你可以把调用栈想象成一个队列，代码排队等待执行。</p>
        <h2 id="%E4%BB%A5%E5%89%8D%E6%88%91%E4%BB%AC%E4%BD%BF%E7%94%A8%E5%9B%9E%E8%B0%83%E5%87%BD%E6%95%B0">以前我们使用回调函数</h2>
        <p>回调函数因为JS的单线程编程而大量使用的模式。回到文章开头的<code>DataServie</code>，想要对获取到的数据进行操作，一种方法就是把<code>doSomething</code>写成一个回调函数，以参数的形式传给  <code>getResult</code>,在远程获取到到数据之后再执行<code>doSomething</code>。</p>
        <p>修改前（文章开头代码复制过来）</p>
        <pre class="hljs"><code><div><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">DataServie</span> </span>{
            result = <span class="hljs-string">'default'</span>;
            <span class="hljs-keyword">constructor</span>(private http: Http){}
            getResult(){
                <span class="hljs-keyword">this</span>.http.get(<span class="hljs-string">'http://google.com.hk'</span>)
                    .map(response =&gt; response.text())
                    .subscribe(data =&gt; {
                        <span class="hljs-keyword">this</span>.result = data;
                        <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'inside of callback（后执行)'</span>);
                    });
                <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'outside of callback (先执行)'</span>);
            }
            
            doSomething() {
               <span class="hljs-built_in">console</span>.log(<span class="hljs-string">"do something to data: "</span>+ <span class="hljs-keyword">this</span>.result);
            }
        
            doThis(){
                getResult();  <span class="hljs-comment">// 异步</span>
                doSomething();  <span class="hljs-comment">//读取 this.result </span>
                                <span class="hljs-comment">// 发现依然是旧值。。。what？</span>
            }
        }
        </div></code></pre>
        <p>修改后</p>
        <pre class="hljs"><code><div><span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">DataServie</span> </span>{
            result = <span class="hljs-string">'default'</span>;
            <span class="hljs-keyword">constructor</span>(private http: Http){}
            getResult(callback){
                <span class="hljs-keyword">this</span>.http.get(<span class="hljs-string">'http://google.com.hk'</span>)
                    .map(response =&gt; response.text())
                    .subscribe(data =&gt; {
                        <span class="hljs-comment">// this.result = data;</span>
                        callback(data);
                        <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'inside of callback（后执行'</span>);
                    });
                <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'outside of callback (先执行)'</span>);
            }
            
            doSomething() {
                <span class="hljs-built_in">console</span>.log(<span class="hljs-string">"do something to data: "</span>+ <span class="hljs-keyword">this</span>.result);
            }
        
            doThis(){
                getResult();  <span class="hljs-comment">// 异步</span>
                doSomething();  <span class="hljs-comment">//读取 this.result </span>
                                <span class="hljs-comment">// 发现依然是旧值。。。what？</span>
            }
        }
        </div></code></pre>
        <p>这是单层嵌套，嵌套多了会出现&quot;callback hell&quot;。</p>
        <p>上边的例子有一些背景条件，在<code>getResult()</code>之后<code>doSomething()</code>马上被调用，这种情况下<code>this.result</code>来不及更新。想要新的值也可以，必须要保证<code>doSomething</code>在足够的时间间隔之后被执行，即与同步代码一样符合直觉的方式。但在实际环境中数据流很复杂的情况下根本无法保证。</p>
        <p>所以下边的代码看看就行，千万不要学。</p>
        <pre class="hljs"><code><div>    doThis(){
                getResult();  <span class="hljs-comment">// 异步</span>
                setTimeout(() =&gt; doSomething(), <span class="hljs-number">3000</span>); 
                <span class="hljs-comment">//等3秒钟，等待异步代码执行完毕</span>
                <span class="hljs-comment">//然后执行 doSomething</span>
            }
        </div></code></pre>
        <p>3秒之后异步代码如果没执行完毕呢？你的逻辑就又乱了：）</p>
        <h2 id="%E4%B8%BB%E8%A7%92%EF%BC%8Cpromise">主角，Promise</h2>
        <p>想象你女儿要出嫁了，准女婿许诺@一辈子，而你选择了相信他，但是，</p>
        <blockquote>
        <p>如果女婿信守承诺，对你女儿好，你狠高兴。
        如果女婿对女儿不好，你花钱雇了凶，打断他的腿。</p>
        </blockquote>
        <p>你实际上创建了一个Promise。</p>
        <h2 id="promise%E7%9A%843%E4%B8%AA%E7%8A%B6%E6%80%81">Promise的3个状态</h2>
        <h3 id="1-pending">1. Pending</h3>
        <p>刚刚被创建时的状态。</p>
        <p>你女儿出嫁当天，女婿承诺，但是还没做到。</p>
        <h3 id="2-resolved">2. Resolved</h3>
        <p>许诺被成功执行。</p>
        <p>女婿一直对女儿好。</p>
        <h3 id="3-rejected">3. Rejected</h3>
        <p>许诺没被执行。</p>
        <p>。。。</p>
        <p>创建Promise</p>
        <pre class="hljs"><code><div><span class="hljs-keyword">let</span> promise = <span class="hljs-keyword">new</span> <span class="hljs-built_in">Promise</span>((resolve, reject) =&gt; {
            <span class="hljs-comment">//异步操作放这里</span>
        
            <span class="hljs-comment">//如果成功</span>
            resolve();
        
            <span class="hljs-comment">//如果失败</span>
            reject();
        });
        </div></code></pre>